<div style="background-color:lightyellow;">
  <div class="columns" style="background-color:#00d1b2;text-align:center; padding: 5px; padding-left:450px;">
    <button id="createButton" class="button is-warning" style="margin-left:10px;margin-right:5px;;margin-top:10px;">Create a memory</button>
      <div>
        <button class="button button is-light" style="margin-top:10px;">Recent</button>
        <button class="button button is-light" style="margin-top:10px;">Range</button>
        <button class="button button is-light" style="margin-top:10px;">Category</button>
        <button id="logoutButton" class="button button is-light" style="margin-top:10px;">Logout</button>
      </div>
  </div>
  <div class="columns">
    <div class="column" style="border: 1px solid black; margin: 50px; text-align:center; background-color:lightgray;">
      <div class="title">
        Memories Feed
      </div>
  <!-- Pass in data from server.js -->
      <ul>
        {{#each memory}}
          <li>
            <p><span class="label">Title:</span> {{title}}</p>
            <p><span class="label">Date:</span> {{date}}</p>
            <p><span class="label">Description:</span> {{description}}</p>
            <p><span class="label">Rating:</span> {{rating}}</p>
            <p><span class="label">Location:</span> {{location}}</p>
            <div id="image">
              <p class="label">Image:</p>
              <img id="thumbnail" src="{{imageArray}}"/>
            </div>
              
            <button data-id="{{this.id}}" class="viewButton">View Details</button>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/memories.js"></script>
