<div style="background-color:lightyellow;">
  <div class="columns" style="background-color:lightgray;text-align:center; padding: 5px; padding-left:400px;">
    <a href="/newMemory"><button class="button is-link" style="margin-left:10px;margin-right:5px;;margin-top:10px;">Create a memory</button></a>
      <div>
        <button class="button button is-link is-light" style="margin-top:10px;">Recent</button>
        <button class="button button is-link is-light" style="margin-top:10px;">Range</button>
        <button class="button button is-link is-light" style="margin-top:10px;">Category</button>
        <a href="/login"></a><button class="button button is-link is-light" style="margin-top:10px;">Logout</button></a>
      </div>

  </div>
<div class="columns">
  <div class="column" style="border: 1px solid black; margin: 50px; text-align:center; background-color:#eef3fc;">
    <div class="title">
      Memories Feed
    </div>
<!-- Pass in data from server.js -->
    <ul>
      {{#each memory}}
        <li>
          <p><span class="label">Title:</span> {{title}}</p>
          <p><span class="label">Date:</span> {{date}}</p>
          <p><span class="label">Description:</span> {{description}}</p>
          <p><span class="label">Rating:</span> {{rating}}</p>
          <p><span class="label">Location:</span> {{location}}</p>
          <p><span class="label">Image:</span> {{img}}</p>

          <button data-id="{{this.id}}" class="delmemory">Delete</button>

          <a href="/{{this.id}}">Update this memory</a>
        </li>
      {{/each}}
    </ul>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/memories.js"></script>
