<section class="hero welcome has-background-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered has-text-weight-bold is-2">
        Your memory
      </h1>
    </div>
  </div>
</section>
<section>
  <div class="columns">
    <div class="column" style="border: 1px solid black; text-align:center; margin: 50px auto; background-color:lightgrey;">
      <ul>
        {{#each memory}}
          <li>
            <p><span class="label">Title:</span> {{title}}</p>
            <p><span class="label">Date:</span> {{date}}</p>
            <p><span class="label">Description:</span> {{description}}</p>
            <p><span class="label">Rating:</span> {{rating}}</p>
            <p><span class="label">Location:</span> {{location}}</p>
            <p><span class="label">Image:</span> {{img}}</p>

            <button data-id="{{this.id}}" class="delmemory">Delete</button>

            <a href="/{{this.id}}">Update this memory</a>
          </li>
        {{/each}}
      </ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/memory.js"></script>
    </div>
    </div>
</section>