<section class="hero welcome has-background-primary">
  <div class="hero-body py-5">
    <div class="container">
      <h1 class="title has-text-centered has-text-weight-bold is-2">
        New Memory
      </h1>
      <div class="columns is-centered">
        <div class="column is-4-desktop is-5-tablet">
          <nav class="level">
            <!-- Left side -->
            <div class="level-left">
              <div class="level-item">
                <button id="goBack" class="button is-info">
                  Go back
                </button>
              </div>
            </div>

            <!-- Right side -->
            <div class="level-right">
              <div class="level-item">
                <button id="logoutButton" class="button is-warning">
                  Logout
                </button>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container is-fluid main-bg">
  <div class="columns is-mobile is-centered mt-6">
    <div class="box column is-mobile is-two-thirds-tablet is-half-desktop">
      <article class="media columns is-multiline is-mobile is-centered">

        <div class="media-content column is-12-mobile">
          <div class="content">
            <h2>Memory Info</h2>
            <p>
              Fill out the following information:
            </p>
          </div>


          <form class="columns is-centered is-multiline" id="newMemoryForm">
            <div class="column is-half">
              <label for="date"> Date:</label><br>
              <input type="date" id="date" name="date" value="{{date}}"><br>
              <label for="title">Memory Title:</label><br>
              <input placeholder="title" type="text" id="title" name="title" value="{{title}}"><br>
              <label for="location">Where you were?</label><br>
              <input placeholder="location" type="text" id="location" name="location" value="{{location}}"><br>
              <label for="description">Describe your memories here:</label><br>
              <textarea type="text" id="description" name="description"> {{description}}</textarea><br>
            </div>
            <div class="column is-half">
              <label for="file-uploader">Upload images:</label><br>
              <input type="file" id="file-uploader" class="cloudinary-button" multiple /><br>

              <div id="rating" class="stars">
                <label for="ratings">Rate your memories:</label><br>
                <input class="star star-5" id="star-5" value="5" type="radio" name="star" />
                <label class="star star-5" for="star-5"></label>
                <input class="star star-4" id="star-4" value="4" type="radio" name="star" />
                <label class="star star-4" for="star-4"></label>
                <input class="star star-3" id="star-3" value="3" type="radio" name="star" />
                <label class="star star-3" for="star-3"></label>
                <input class="star star-2" id="star-2" value="2" type="radio" name="star" />
                <label class="star star-2" for="star-2"></label>
                <input class="star star-1" id="star-1" value="1" type="radio" name="star" />
                <label class="star star-1" for="star-1"></label>
              </div><br>

              
            </div>

            <div class="column is-narrow">
              <input class="button is-small is-primary mt-2" type="submit" id="saveNewMemories" data-id="{{this.id}}"
                value="Save Memory">
            </div>
          </form>


        </div>
      </article>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/newMemory.js"></script>